
<section class="content-header">
	<h1>Alunos</h1>
</section>

<section class="content">
	<div>
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">Filtro</h3>
			</div>
			<div class="box-body">
				<div class="form-group">
					<label>Matrícula</label>
					<input type="text" class="form-control" placeholder="Matrícula">
				</div>
			</div>
			<div class="box-footer">
				<button type="button" class="btn btn-info">Encontrar</button>
			</div>
		</div>
	</div>
	<div>
		<table class="table table-responsive table-striped">
			<thead>
				<tr>
					<th>Nome</th>
					<th>E-mail</th>
					<th>Aprovado</th>
					<th>Data de Nascimento</th>
					<th>Número</th>
					<th>CEP</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="aluno in alunos">
					<td>{{ aluno.Nome }}</td>
					<td>{{ aluno.Email }}</td>
					<td>{{ aluno.AprovadoUltimoPeriodo }}</td>
					<td>{{ aluno.Nascimento | momentParseDateASPNetJSON }}</td>
					<td>{{ aluno.Numero }}</td>
					<td>{{ aluno.CEP }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
