<div>
	<table class="table table-responsive table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Aprovado</th>
				<th>Data de Nascimento</th>
				<th>Número</th>
				<th>CEP</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="aluno in alunos">
				<td>{{ aluno.Nome }}</td>
				<td>{{ aluno.Email }}</td>
				<td>{{ aluno.AprovadoUltimoPeriodo }}</td>
				<td>{{ aluno.Nascimento | momentParseDateASPNetJSON }}</td>
				<td>{{ aluno.Numero }}</td>
				<td>{{ aluno.CEP }}</td>
			</tr>
		</tbody>
	</table>
</div>
