
<section class="content-header">
	<h1>{{ modoForm }} Aluno</h1>
</section>

<section class="content">
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Dados Pessoais</h3>
		</div>
		<div class="box-body">
			<div class="form-group">
				<label>Nome Completo</label>
				<input type="text" class="form-control" ng-model="modelNome" placeholder="Nome Completo">
			</div>
			<div class="form-group">
				<label>Data de Nascimento</label>
				<div class="input-group">
					<div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</div>
					<input type="text" class="form-control" ng-model="modelNascimento" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
				</div>
			</div>
			<div class="form-group">
				<label>E-mail</label>
				<input type="text" class="form-control" ng-model="modelEmail" placeholder="E-mail">
			</div>
		</div>
	</div>
	<div class="box box-danger">
		<div class="box-header">
			<h3 class="box-title">Dados Residenciais</h3>
		</div>
		<div class="box-body">
			<div class="form-group">
				<label>Endereço</label>
				<input type="text" class="form-control" ng-model="modelEndereco" placeholder="Endereço">
			</div>
			<div class="form-group">
				<label>Número</label>
				<input type="text" class="form-control" ng-model="modelNumero" placeholder="Número">
			</div>
			<div class="form-group">
				<label>Complemento</label>
				<input type="text" class="form-control" ng-model="modelComplemento" placeholder="Complemento">
			</div>
			<div class="form-group">
				<label>CEP</label>
				<input type="text" class="form-control" ng-model="modelCEP" placeholder="CEP">
			</div>
			<div class="form-group">
				<label>Cidade</label>
				<input type="text" class="form-control" ng-model="modelCidade" placeholder="Cidade">
			</div>
			<div class="form-group">
				<label>Estado</label>
				<input type="text" class="form-control" ng-model="modelEstado" placeholder="Estado">
			</div>
		</div>
	</div>
	<div class="box box-solid">
		<div class="pull-right">
			<button type="button" class="btn btn-primary" ng-click="salvaAluno()">Salvar</button>
			<button type="button" class="btn btn-default" ng-click="cancela()">Cancelar</button>
		</div>
	</div>
</section>
